.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: white;
}

@media only screen and (max-width: 999px) {
  .buttons {
   display: flex;
   flex-direction: column;
  }
  .quote {
    padding: 20px 5px;
    max-width: 500px;
    height: fit-content;
    margin: 5px 0px;
  }
}


@media only screen and (min-width: 1000px) {
  .buttons {
    display: flex;
    flex-direction: row;
  }
  .quote {
    display: flex;
    width: 500px;
    height: 200px;
    margin: 0 5px;
    justify-content: center;
    align-items: center;
    
  }
  .App-header {
    padding-top: 100px;
  }
}

.quote {
  border: white solid 2px;
  background-color: rgb(58, 58, 58);
  color: white;
  font-size: 20px;
}

.quote:hover {
  background-color: darkgray;
}

.new {
  width: fit-content;
  height: fit-content;
  margin-top: 50px;
}